﻿@model CodingTest.Controllers.HomeController.Model

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>Coding Test - React Js</title>
    <link rel="stylesheet" href="~/dist/site.css?v=@Model.CacheDate" type="text/css" />
</head>
<body class="container">

    <div class="row">
        <div id="react-app" class="col-xs-12"></div>
    </div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgkY-A1RdD9WUMaRAkXWOsPFaNBfCx3gU&&libraries=places&language=en"></script>
    <script src="~/dist/vendor.js?v=@Model.CacheDate"></script>
    <script src="~/dist/main.js?v=@Model.CacheDate"></script>
</body>
</html>