﻿body {
    margin-bottom: 10%;
}

.col-xs-12 {
    padding: 0;
}

.margin-left-15 {
    margin-left: 15px;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
    padding-left: 0 !important;
    padding-right: 0 !important;

    .title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
        margin-bottom: 10px;
    }

    input {
        margin-left: 10px;
        margin-right: 10px;
        width: 95%;
    }
}

.navbar {
    min-height: unset;
}

.nav {
    li:hover, a:hover {
        background-color: lightgray;
    }
}

.public_fixedDataTableCell_cellContent, .nav li, .nav li a, a[href] {
    cursor: pointer;
}
