﻿.input-group-border-top-bottom-right() {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group-border-top-bottom-left() {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}